html {border: 12px solid #b9ac9c;
	  padding: 15px;
	  background-color:#22242A;
	}

body {
	
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	color: white;
	height: 640px;
	font-size: 1em;
}

nav {
	margin: -45px -15px 0px -15px;
	text-align: center;
	font-size: 2em;
	width: 100%;
}

nav ul li a {
	padding: 10px;
	text-decoration: none;
	color: #fff;
}

.center {
	text-align: center;
	font-family: 
}
.container {
	margin-right: 45px;
  	margin-left: 45px;
  	text-align: center;
  	line-height: 28px;
	font-size: 18px;
	}
.subhead-displayed {
	font-family: Conduit,Helvetica,sans-serif;
	font-size: 1.10em;
	font-weight: 600;
	color: #b9ac9c;
	letter-spacing: 0.04em;
	margin-bottom: 25px;
}
.displayed {
	font-size: 145px;
	margin-top: -32px;
	font-family: Conduit,Helvetica,sans-serif;
	letter-spacing: 0.04em;
	display: block;
}
.subtitle {
	font-size: 1.10em;
	font-weight: 600;
	margin-top: -130px;
	margin-bottom: 80px;
	letter-spacing: .36em;
	color: #b9ac9c;
	text-align: center;
	position: relative;
	height: 1px;
}
							/* Css for resume goes below */

	p a:visited{
		color:black;

	}
	p a:link{
		font-weight: bold;
		font: 20px;
		color: red;


	}
	

	.resume {
	background-color: antiquewhite;
	

}

	.subtitle {
		text-align: center;
		padding-top: -190px;
	}
	#name{
		text-align: center;
		font-size: 35px;
		font-family: serif;
		padding-top: 15px;
		line-height: 10px;
	}

	hr {
		border-color: white;
		border-width: 4px;
	}
	#address {
		text-align: center;
	}

	

	body {
		padding: 30px;
	}

	.professional{
			text-align: center;

	}

	.edtech{
		text-align: center;
	}

	a:visited .linkedin{
				color: black;
	}
	.companies{
		text-indent: 40px;
	}

	span {
		float: right;
	}

	img {
		display: inline-block;
	}

	/* Resume styling ends here */

/*################--Footer styling--#############*/

footer {
	background-color: transparent;
	margin-top: 25px;
	height: 100px;
	text-align: center;
}

footer p {
	font-size: 18px;
}

ul li {
	text-decoration: none;
	display: inline-block;
}


.image-icon {
	margin-right:23px;
	padding-top: -75px;
}
.footer-icon p {
	color: white;
}
