html {
    border: 12px solid #b9ac9c;
    padding: 15px;
    background-color: #22242A;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: lightgray;
    height: 100%;
    font-size: 1em;
    padding: 30px;
    padding-bottom: 15px;
    border: 12px solid #fff;
    margin: -10px;
}

nav {
    margin: -45px -15px 0px -15px;
    text-align: center;
    font-size: 2em;
    width: 100%;
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

ul {
    padding-left: 0px;
    text-align: center;
}

.center {
    text-align: center;
    font-family:
}

.container {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 75px;
    line-height: 28px;
    font-size: 18px;
    width: 80%;
}

.container li {
    margin: 0px 10px;
}

.subhead-displayed {
    font-family: Conduit, Helvetica, sans-serif;
    font-size: 1.10em;
    font-weight: 600;
    color: #b9ac9c;
    letter-spacing: 0.04em;
    margin-bottom: 25px;
}

.displayed {
    font-size: 145px;
    margin-top: -32px;
    font-family: Conduit, Helvetica, sans-serif;
    letter-spacing: 0.04em;
    display: block;
}

.subtitle {
    font-size: 1.10em;
    font-weight: 600;
    margin-top: -130px;
    margin-bottom: 80px;
    letter-spacing: .36em;
    color: #b9ac9c;
    text-align: center;
    position: relative;
    height: 1px;
}

?
/* Styling  for Carousel */

.container-carousel {
    overflow: hidden;
}

#slider {
    width: 720px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}

.carousel-header {
    text-align: center;
    font-weight: 300;
    font-size: 65px;
    font-family: cursive
}


/* Css for resume goes below */


/*
p a:visited {
    color: black;
}

p a:link {
    font-weight: bold;
    font: 20px;
    color: red;
}

.resume {
    background-color: antiquewhite;
    height: 900px;
    width: 900px;
}

.subtitle {
    text-align: center;
    padding-top: -190px;
}

#name {
    text-align: center;
    font-size: 35px;
    font-family: serif;
    padding-top: 15px;
    line-height: 10px;
}

hr {
    border-color: white;
    border-width: 4px;
}

#address {
    text-align: center;
}

.professional {
    text-align: center;
}

.edtech {
    text-align: center;
    font-weight: bold;
    color: white;
}

a:visited .linkedin {
    color: black;
}

.companies {
    text-indent: 40px;
}

span {
    float: right;
}

img {
    display: inline-block;
    margin: auto;
}*/


/* Resume styling ends here */


/*STYLING FOR CONTACT FORM */

#headercontact {
    background-color: orangered;
    border-radius: 4px;
    margin: auto;
    color: white;
    font-size: 35px;
    font-family: Georgia;
}

html {
    background-color: #22242A;
}

#form-wrap {
    margin-top: 25px;
}

form {
    width: 500px;
    margin: 0 auto;
    outline: none;
}

label {
    display: block;
    font: 32px arial;
    color: black;
    padding: 8px;
    margin: 10px;
}

.input1 {
    height: 35px;
    width: 450px;
    margin: 0 0 0 20px;
    font-size: 18px;
}

textarea {
    height: 180px;
    width: 450px;
    margin: 0 0 0 20px;
    font-size: 18px;
    outline: none;
}

.fieldset {
    border: none;
    background-color: white;
    padding: 0 0 20px 0;
}

.btn {
    padding: 10px 5px;
    background: orangered;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100px;
    float: right;
    font-size: 25px;
    color: white;
}

.resetbtn {
    padding: 10px 5px;
    background: orangered;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100px;
    float: right;
    font-size: 25px;
    color: white;
    float: left;
}

form h4 {
    margin: 20px 0 0 30px;
    font-size: 25px sans-serif;
    font-weight: bold;
    text-align: center;
}

form input {
    outline: none;
}


/* End of contact form styling */


/*################--Footer styling--#############*/

footer {
    text-align: center;
}
