html {border: 12px solid #b9ac9c;
	  padding: 15px;
	  background-color:#23252b;
	}

body {
	
	font-family:'Minion Pro',Times,serif;
	color: white;
}

nav {
	border: 1px solid #b9ac9c;
	background-color: #fff;
	margin: -15px -15px 0px -15px;
	text-align: center;
	padding: 1px 15px;
	font-size: 2em;
}

nav ul li {
	padding: 10px;
}

.center {
	text-align: center;
	font-family: 
}
.container {
	padding: 25px;
	
	}

							/* Css for resume goes below */

	p a:visited{
		color:black;

	}
	p a:link{
		font-weight: bold;
		font: 20px;
		color: red;


	}
	

	.resume {
	background-color: antiquewhite;
	

}

	.subtitle {
		text-align: center;
		padding-top: -190px;
	}
	#name{
		text-align: center;
		font-size: 35px;
		font-family: serif;
		padding-top: 15px;
		line-height: 10px;
	}

	hr {
		border-color: white;
		border-width: 4px;
	}
	#address {
		text-align: center;
	}

	

	body {
		padding: 30px;
	}

	.professional{
			text-align: center;

	}

	.edtech{
		text-align: center;
	}

	a:visited .linkedin{
				color: black;
	}
	.companies{
		text-indent: 40px;
	}

	span {
		float: right;
	}
/*################--Footer styling--#############*/

footer {
	border: 1px solid #b9ac9c;
	background-color: #fff;
	margin: -45px;
	margin-top: 25px;
	height: 100px
}

footer p {
	font-size: 18px;
}

ul li {
	text-decoration: none;
	display: inline-block;
}
.footer-icons {
	text-align: center;
}

.image-icon {
	margin-right:23px;
	padding-top: -75px;
}
.footer-icon p {
	color: black;
}